p{
    border-bottom: 2px solid deepskyblue;
    padding-right: 15px;
    padding-top: 5px;
    }
.container{
    border: 2px solid gray;
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    width: 18%;
    height: 80%;
}
.button{
    border-radius: 10px;
    background-color: rgb(65, 208, 255);
    color: white;
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
    width: 100px;
    height: 50px;
}
.input{
    display: inline-block;
}
